/* reset */
ul,
ol,
li {
  list-style-type: none;
}
a {
  color: #333;
  text-decoration: none;
}

.list {
  position: relative;
  height: 50px;
  margin-bottom: 50px;
}
.list li {
  display: inline-block;
  padding: 0 20px;
}
.listbox {
  margin: 0 auto;
  text-align: center;
}
