@charset "UTF-8";
.tourlist_board {
	margin-top:100px;
	display: flex;
	justify-content: center;
}
.imgname{
	text-align:center;
	
}
.tourplaceMainImg {
	width: 100px;
	height: 70px;
	padding:30px;
}

.search_table {
	min-width: 1500px;
	border-top: 3px solid #ffc107;
	border-collapse: collapse;
	text-align: left;
}
 #searchButton{
 background-color:#ffc107;
  width: 500px;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
 box-shadow: 3px 3px 3px black;

 }
  #searchButton:hover{
  color: #fff;
  background-color: #ffca2c;
  border-color: #ffc720;
  
  }
 #search_keyword{
  width: 500px;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
  
 }
.search_header{
	padding-left:30px;
	padding:25px;
    color:black;
	width: 200px;
	background-color: #ebebeb;
	text-align: center;
	font-size: 17px;
}

.search_table tr {
	border-bottom: 1px solid #ABABAB;
	height: 45px;
}

td.input_form>input {
	width: 700px;
	height: 30px;
}

.search_content {
	padding-left: 5px;	
}

.listTilte{
	display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 18px;
}

td.search_content input_form > input{
	background-color: red;
}

.box{
	width: 100px;
	height: 150px;
	padding: 5px;
	margin: 5px;
	background-color: yellow;
	float: left;
}
.photoList img{
width: 100%;
  height: 200px;
  object-fit: cover;
	justify-content: center;
	background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
 
 
	
.photoList {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding:30px;
  min-height: 250px;
	
	
}

#searchResultTable {
	width: 100%;
	text-align: center;
}

table{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  justify-content: center;
}
.imgpage{
	background-color:pink;
	
}

#searchResultPageIndex{
	margin-bottom: 20px;
}



