.bc-count {
  color: orangered;
}

a {
  text-decoration: none;
  color: black;
}

#findBoard {
  text-align: center;
}

.form-select {
  display: inline;
  width: 150px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.btn-secondary {
  margin-top: 5px;
}

.fa-sort-down {
  height: 20px !important;
  vertical-align: middle !important;
  line-height: 9px !important;
  margin-left: 2px !important;
  color: gray;
}
