<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

	<resultMap type="Board" id="boardMap">
		<id property="boardNo" column="board_no"/>
		<result property="boardDate" column="board_date"/>
		<result property="id" column="id"/>
		<result property="boardViews" column="board_views"/>
		<result property="boardLike" column="board_like"/>
		<result property="boardTitle" column="board_title"/>
		<result property="boardContent" column="board_content"/>
	</resultMap>
	
	<select id="selectAll" parameterType="BoardPaging" resultMap="boardMap">
		SELECT * FROM board
		LIMIT #{offset}, #{limit}
	</select>
	
	<select id="count" resultType="int">
		SELECT count(*) FROM board
	</select>
	
	<insert id="insert" parameterType="Board" useGeneratedKeys="true" keyProperty="boardNo" keyColumn="board_no">
		INSERT INTO board(id, board_title, board_content)
		VALUES(#{id}, #{boardTitle}, #{boardContent})
	</insert>
	
	<select id="select" parameterType="int" resultMap="boardMap">
		SELECT * FROM board
		WHERE board_no=#{boardNo}
	</select>
	
	<update id="update" parameterType="Board">
		UPDATE board
		SET board_title=#{boardTitle}, board_content=#{boardContent}
		WHERE board_no=#{boardNo}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM board
		WHERE board_no=#{boardNo}
	</delete>
	
	<update id="view" parameterType="int">
		UPDATE board SET board_views = board_views + 1 WHERE board_no=#{boardNo}
	</update>
</mapper>