<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tourPlaceMapper">

	<resultMap type="Tourplace" id="TourplaceMap">
		<id property="touristCode" column="touristCode" />
		<result property="touristName" column="touristName" />
		<result property="touristAddress" column="touristAddress" />
		<result property="look" column="look" />
	</resultMap>

	<insert id="insertTourPlace" parameterType="TourPlace">
		INSERT tourist
		(touristName, touristAddress, look)
		VALUES (#{touristName},
		#{touristAddress}, #{look})
	</insert>

	<select id="showTourplace" resultMap="TourplaceMap">
		SELECT * FROM tourist
	</select>
    
    <select id="searchTourplace" resultMap="TourplaceMap" parameterType="com.semi.gold.model.dto.TourplaceSearchDTO">
		SELECT * FROM tourist
		<where>
			<if test="keyword != null and keyword != ''">
				touristName LIKE '%${keyword}%'
			</if>
		</where>
		<if test="!createPageIndex">
		limit ${pageRowStartIdx}, ${showPageCount}
		</if>
	</select>
	
	<!-- SELECT touristcode, touristname, touristaddress, look
	FROM gold_semi.tourist
	order by touristname
	limit 0, 20; -->
	

</mapper>