<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tourPlaceMapper">

	<insert id="insertTourPlace" parameterType="TourPlace">
		INSERT tourist (touristname, touristaddress, look)
		VALUES (#{touristName}, #{touristAddress}, #{look})
	</insert>
	
	<resultMap type="Tourplace" id="TourplaceMap">
		<id property="touristCode" column="touristCode"/>
		<result property="touristName" column="touristName"/>
		<result property="touristAddress" column="touristAddress"/>
		<result property="look" column="look"/>
	</resultMap>	
	
	<select id="showTourplace" resultMap="TourplaceMap">
		SELECT * FROM tourist
	</select>
	
	
	
	

</mapper>