<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>korea</title>
  </head>
  <link rel="stylesheet" href="/src/main/webapp/css/reset.css" />
  <link rel="stylesheet" href="/src/main/webapp/resources/css/korea.css" />
  <body>
    <div>
      <ul class="list">
        <li><a href="#scroll1" class="scroll_move">사진</a></li>
        <li></li>
        <li><a href="#scroll2" class="scroll_move">상세설명</a></li>
        <li></li>
        <li><a href="#scroll3" class="scroll_move">위치</a></li>
        <li></li>
      </ul>
    </div>
    <div class="listbox">
      <div class="scroll1" id="scroll1">scroll1</div>
      <div class="scroll2" id="scroll2">
        <h3>상세 설명</h3>
        <p>
          식장산(食藏山)은 대전광역시 동구와 충청북도 옥천군에 걸쳐 있는 산이다.
          이 산은 탄현(炭峴)이라고도 불리던 삼국시대의 국경 요충지였고, 백제
          군사들의 군량미(軍糧米)를 저장하고 싸움을 하였다는 데에서 이름이
          붙여졌다는 전설과 함께 옛날에 전우치가 3년 동안 먹고도 남을 만한
          보물을 이곳에 묻어 놓아서 이름 붙여졌다는 전설도 전해 내려오고
          있다.[1] 세천유원지 초입에 있는 물막이 댐은 1934년 계곡을 막아 만든
          것으로 폭 100m 길이 250m 크기로, 대청호의 물을 수돗물로 쓰기 전까지
          대전 시민의 식수원이었으며 대전시내를 가로지르는 대전천의 발원지다.
          세천유원지에서부터 정상까지 포장된 길이 있어 차로 올라갈 수 있다. 길은
          4km 정도. 정상에는 과거 매점차량이 있어 커피나 간단한 식음료를
          판매했으나, 공원으로 정비되면서 2018년에 누각이 세워졌다. 2020년
          12월엔 지역 인사이자 대전대학교 서예디자인학과 정태희 교수의 도움으로
          '식장루(食藏樓)'라고 쓰여진 한글 현판을 걸게 되었다.
        </p>
      </div>
      <div class="scroll3" id="scroll3"></div>
      <div class="scroll4" id="scroll4">scroll4</div>
    </div>

    <h2>추가 설명</h2>
    <img src="/src/main/webapp/image/4.jpg" alt="" />
    <ul>
      <li>이용시간</li>
      <li>입장료</li>
      <li>출입통로</li>
    </ul>
    <ul>
      <li>홈페이지</li>
      <li>주소</li>
      <li>휴일</li>
      <li>점근로</li>
      <li>화장실</li>
    </ul>
  </body>
</html>
